.App {
  width: 375px;  
  /* color: #222; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  padding: 50px 50px 500px 50px;
  /* background: #fff; */
  border-radius: 8px;
}

.App.dark{
  color: #fff;
  background: #121212;  
}

.App.light{
  background: #e7e7e7;
  color: #121212;


}
.background {
  /* background-color: #222; */
}