.form-input {
  border-radius: 50px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
}

.label{
  font-size: 14px; 
  padding: 0 0 0 20px;
}

.btn-wrapper {
  text-align: center;

}
.btn{
  background-color: #9E9D24;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: Georgia, Times New Roman, serif;
  letter-spacing: 3px;
  margin-top: 20px;
  width: 50%;
}