/* parent element */
.nav {
  font-family: Georgia, Times New Roman, serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.logo {
  font-size: 20px;
  margin: auto; 
  width: 50%; 
  padding: 20px;
}

/* ul */
.navList {
  display: flex;
  list-style: none; /* remove bullets */
  font-size: 13px;
  font-weight: 400;
  padding-bottom:30px; 
  width: 100%;
}

/* li */
.item {
  text-decoration: none; /* remove underline */
  padding: 12px;
  color: #CDDC39;
}