.nav {
  font-size: 13px;
  font-weight: 400;
  font-family: Georgia, Times New Roman, serif;
  letter-spacing: 3px;
  /* padding: 20px; */
  /* position: float; */
  text-transform: uppercase;
  /* color: #fff; */

  /* list-style: none */

}

.navList {
  display: flex;
  list-style: none;
  margin-bottom: 30px;
  margin-left: -40px;
  /* padding: 0 20px 0 0 */
  
  /* overflow: hidden */

}

.item {
  display: block;
  padding-right: 20px;
  text-decoration: none;
  color: #CDDC39;

}

/* a:link
a: visited
a: hover
a:active */