/* remove bullets from li's */
.h3 {
  color: #827717;
  font-size: 16px;
  font-weight: 400;
  font-family: Georgia, Times New Roman, serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.keys {
  list-style: none; /* remove bullets */
margin-left: -40px;
}

.link {
text-decoration: none; /* remove underline */
color: #9E9D24;
}